<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
            xmlns:android   = "http://schemas.android.com/apk/res/android"
        id        = "com.architecgraphic.vieloft"
        versionCode="11" 
        version   = "1.0.5">
        
    <name>VIELOFT</name>
    
    <description>
        360 virtual tour of VIELOFT, Next Level SOHO at Ciputra World Surabaya. Designed and created by Architec Graphic Boutique.
    </description>


    <author href="https://architecgraphic.com" email="architecb33@yahoo.com">
        architec graphic boutique
    </author>
    
	<preference name="phonegap-version" value="cli-6.0.0"/>
    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="landscape" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->


<icon src="icon.png"/>





</widget>
